@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
body{
    text-align: center;
    margin: 0;
    font-family:'Roboto Condensed', sans-serif;
}

.header{
    margin: 19px auto;  
}

.header-text{
    font-size: 40px;
    letter-spacing: 13.49px;
    color: #2c2b2a;
    margin-bottom: 2vh;
    font-weight: 200;
}
.border{
    height: 1px;
    background-color: #d7d7d7;
    width: 95vw;
    margin: 0 auto 2vh;
}

.blue-letter{
    color:#31a893 ;
}

.home-link{
    font-size: 25.4px;
    letter-spacing: 0.63px;
    text-decoration: none;
}
